<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>RoleFilterAdmin</filter-name>
  	<display-name>RoleFilterAdmin</display-name>
  	<description></description>
  	<filter-class>com.demo.entities.RoleFilterAdmin</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>RoleFilterAdmin</filter-name>
  	<url-pattern>/RoleFilterAdmin</url-pattern>
  </filter-mapping>
  
  <servlet>
  	<servlet-name>HomeServlet</servlet-name>
  	<display-name>HomeServlet</display-name>
  	<description></description>
  	<servlet-class>com.demo.servlets.HomeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ContactServlet</servlet-name>
  	<display-name>ContactServlet</display-name>
  	<description></description>
  	<servlet-class>com.demo.servlets.user.ContactServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.demo.servlets.user.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DashboardServlet</servlet-name>
  	<display-name>DashboardServlet</display-name>
  	<description></description>
  	<servlet-class>com.demo.servlets.admin.DashboardServlet</servlet-class>
  </servlet>
   <servlet>
  	<servlet-name>MotobikeServlet</servlet-name>
  	<display-name>MotobikeServlet</display-name>
  	<description></description>
  	<servlet-class>com.demo.servlets.user.MotobikeServlet</servlet-class>
  </servlet>
   <servlet>
   	<servlet-name>ChangePasswordServlet</servlet-name>
   	<display-name>ChangePasswordServlet</display-name>
   	<description></description>
   	<servlet-class>com.demo.servlets.user.ChangePasswordServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>InformationServlet</servlet-name>
   	<display-name>InformationServlet</display-name>
   	<description></description>
   	<servlet-class>com.demo.servlets.user.InformationServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>EmployeeServlet</servlet-name>
   	<display-name>EmployeeServlet</display-name>
   	<description></description>
   	<servlet-class>com.demo.servlets.admin.EmployeeServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>accountlistServlet</servlet-name>
   	<display-name>accountlistServlet</display-name>
   	<description></description>
   	<servlet-class>com.demo.servlets.admin.accountlistServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>customerbuyproductsServlet</servlet-name>
   	<display-name>customerbuyproductsServlet</display-name>
   	<description></description>
   	<servlet-class>com.demo.servlets.admin.customerbuyproductsServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>ListproductServlet</servlet-name>
   	<display-name>ListproductServlet</display-name>
   	<description></description>
   	<servlet-class>com.demo.servlets.admin.ListproductServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>ListbrandServlet</servlet-name>
   	<display-name>ListbrandServlet</display-name>
   	<description></description>
   	<servlet-class>com.demo.servlets.admin.ListbrandServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>ListpdfServlet</servlet-name>
   	<display-name>ListpdfServlet</display-name>
   	<description></description>
   	<servlet-class>com.demo.servlets.admin.ListpdfServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>addNewEmployeeByAdminServlet</servlet-name>
   	<display-name>addNewEmployeeByAdminServlet</display-name>
   	<description></description>
   	<servlet-class>com.demo.servlets.admin.addNewEmployeeByAdminServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>NewaccountServlet</servlet-name>
   	<display-name>NewaccountServlet</display-name>
   	<description></description>
   	<servlet-class>com.demo.servlets.admin.NewaccountServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>addNewBrand</servlet-name>
   	<display-name>addNewBrand</display-name>
   	<description></description>
   	<servlet-class>com.demo.servlets.admin.addNewBrand</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>addNewProductsServlet</servlet-name>
   	<display-name>addNewProductsServlet</display-name>
   	<description></description>
   	<servlet-class>com.demo.servlets.admin.addNewProductsServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>invoiceDetaiServlet</servlet-name>
   	<display-name>invoiceDetaiServlet</display-name>
   	<description></description>
   	<servlet-class>com.demo.servlets.admin.invoiceDetaiServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>myProfileServlet</servlet-name>
   	<display-name>myProfileServlet</display-name>
   	<description></description>
   	<servlet-class>com.demo.servlets.admin.myProfileServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>ForgotPassServlet</servlet-name>
   	<display-name>ForgotPassServlet</display-name>
   	<description></description>
   	<servlet-class>com.demo.servlets.user.ForgotPassServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>VerifyProcessServlet</servlet-name>
   	<display-name>VerifyProcessServlet</display-name>
   	<description></description>
   	<servlet-class>com.demo.servlets.VerifyProcessServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>DetailServlet</servlet-name>
   	<display-name>DetailServlet</display-name>
   	<description></description>
   	<servlet-class>com.demo.servlets.user.DetailServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>AddProductServlet</servlet-name>
   	<display-name>AddProductServlet</display-name>
   	<description></description>
   	<servlet-class>com.demo.servlets.admin.AddProductServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>Comment</servlet-name>
   	<display-name>Comment</display-name>
   	<description></description>
   	<servlet-class>com.demo.servlets.user.Comment</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>MessageErrorServlet</servlet-name>
   	<display-name>MessageErrorServlet</display-name>
   	<description></description>
   	<servlet-class>com.demo.servlets.admin.MessageErrorServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>CartServlet</servlet-name>
   	<display-name>CartServlet</display-name>
   	<description></description>
   	<servlet-class>com.demo.servlets.user.CartServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>ProductColorServlet</servlet-name>
   	<display-name>ProductColorServlet</display-name>
   	<description></description>
   	<servlet-class>com.demo.servlets.admin.ProductColorServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>ProductVersionServlet</servlet-name>
   	<display-name>ProductVersionServlet</display-name>
   	<description></description>
   	<servlet-class>com.demo.servlets.admin.ProductVersionServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>addNewVersion</servlet-name>
   	<display-name>addNewVersion</display-name>
   	<description></description>
   	<servlet-class>com.demo.servlets.admin.addNewVersion</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>addNewProductColor</servlet-name>
   	<display-name>addNewProductColor</display-name>
   	<description></description>
   	<servlet-class>com.demo.servlets.admin.addNewProductColor</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>UpdateEmployeeServlet</servlet-name>
   	<display-name>UpdateEmployeeServlet</display-name>
   	<description></description>
   	<servlet-class>com.demo.servlets.admin.UpdateEmployeeServlet</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>addNewCustomer</servlet-name>
   	<display-name>addNewCustomer</display-name>
   	<description></description>
   	<servlet-class>com.demo.servlets.admin.addNewCustomer</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>addNewInvoice</servlet-name>
   	<display-name>addNewInvoice</display-name>
   	<description></description>
   	<servlet-class>com.demo.servlets.admin.addNewInvoice</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>UpdateProductServlet</servlet-name>
   	<display-name>UpdateProductServlet</display-name>
   	<description></description>
   	<servlet-class>com.demo.servlets.admin.UpdateProductServlet</servlet-class>
   </servlet>
  <servlet-mapping>
  	<servlet-name>HomeServlet</servlet-name>
  	<url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ContactServlet</servlet-name>
  	<url-pattern>/ContactServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DashboardServlet</servlet-name>
  	<url-pattern>/DashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MotobikeServlet</servlet-name>
  	<url-pattern>/MotobikeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ChangePasswordServlet</servlet-name>
  	<url-pattern>/ChangePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InformationServlet</servlet-name>
  	<url-pattern>/InformationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeServlet</servlet-name>
  	<url-pattern>/EmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>accountlistServlet</servlet-name>
  	<url-pattern>/accountlistServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>customerbuyproductsServlet</servlet-name>
  	<url-pattern>/customerbuyproductsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListproductServlet</servlet-name>
  	<url-pattern>/ListproductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListbrandServlet</servlet-name>
  	<url-pattern>/ListbrandServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListpdfServlet</servlet-name>
  	<url-pattern>/ListpdfServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>addNewEmployeeByAdminServlet</servlet-name>
  	<url-pattern>/addNewEmployeeByAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NewaccountServlet</servlet-name>
  	<url-pattern>/NewaccountServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>addNewBrand</servlet-name>
  	<url-pattern>/addNewBrand</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>addNewProductsServlet</servlet-name>
  	<url-pattern>/addNewProductsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>invoiceDetaiServlet</servlet-name>
  	<url-pattern>/invoiceDetaiServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>myProfileServlet</servlet-name>
  	<url-pattern>/myProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ForgotPassServlet</servlet-name>
  	<url-pattern>/ForgotPassServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VerifyProcessServlet</servlet-name>
  	<url-pattern>/VerifyProcessServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DetailServlet</servlet-name>
  	<url-pattern>/DetailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddProductServlet</servlet-name>
  	<url-pattern>/AddProductServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Comment</servlet-name>
  	<url-pattern>/Comment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MessageErrorServlet</servlet-name>
  	<url-pattern>/MessageErrorServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CartServlet</servlet-name>
  	<url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductColorServlet</servlet-name>
  	<url-pattern>/ProductColorServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProductVersionServlet</servlet-name>
  	<url-pattern>/ProductVersionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>addNewVersion</servlet-name>
  	<url-pattern>/addNewVersion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>addNewProductColor</servlet-name>
  	<url-pattern>/addNewProductColor</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateEmployeeServlet</servlet-name>
  	<url-pattern>/UpdateEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>addNewCustomer</servlet-name>
  	<url-pattern>/addNewCustomer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>addNewInvoice</servlet-name>
  	<url-pattern>/addNewInvoice</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateProductServlet</servlet-name>
  	<url-pattern>/UpdateProductServlet</url-pattern>
  </servlet-mapping>
</web-app>
